:root {
  --background-color: #ffffff;
  --list-color: #2e2f42;
  --logo-color: #4d5ae5;
  --buttons-color: #404bbf;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: var(--background-color);
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-color);
}
.link {
  text-decoration: none;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--list-color);
}
.link :hover {
  color: #404bbf;
}
.link :focus {
  color: #404bbf;
}
.logo-span {
  color: var(--list-color);
}
.list {
  list-style: none;
  background-color: #ffffffff;
}
.index-first-section {
  background-color: var(--list-color);
}
.section-one-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}
.button:hover {
  background-color: #404bbf;
  color: #ffffff;
}
.button:focus {
  background-color: #404bbf;
  color: #ffffff;
}
.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--list-color);
}
.paragraphs {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.section-two-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: var(--list-color);
}
.second-section {
  background-color: #f4f4fd;
}
.section-three-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--list-color);
}
.second-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--list-color);
  background-color: #ffffffff;
}

.footer {
  background-color: var(--list-color);
}
.span {
  color: #f4f4f4fd;
}
